Title: {{ date }} in Bildern
Date: {{ date }} {{ last_time }}
Tags: instagram, photography
Slug: {{ date }}-in-bildern

{% for image in images %}
![{{ date }}]({filename}/images/{{ image }})
{% endfor %}
